.title {
    font-size: 96px;
    font-family: Advent Pro;
    font-weight: 500;
    color: #F5F5F5;
    text-transform: uppercase;
    text-align: center;
    line-height: 113.5%;
    letter-spacing: 0.07em;
    text-stroke: 4px #AAAAAA;
    -webkit-text-stroke: 4px #AAAAAA;
}

.roundedTopCorners {
    border-radius: 50% 50% 0% 0%;
}

.more {
    font-family: Graphik;
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: #8272FF;
    text-transform: lowercase;
    text-align: center;
    line-height: 113.5%;
    letter-spacing: 0.08em;
}
  