/*

  Navbar

*/

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: 5px;

  a {
    font-family: $graphik-font-stack;
    color: #333333;
  }

  a:hover {
      text-decoration: none;
  }
}

.navbar {
  z-index: 100;
}

.navbar nav a {

  /*
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  */
  opacity: 0.85;

	&:hover {
			text-decoration: none;
      opacity: 1;  
  }
}

.navbar nav a.disabled {
  pointer-events: none;
  opacity: 0.15;
}