a {
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $graphik-font-stack;
}


h1 {
    font-size: (5.5rem / $font-sm-ratio);
}

h2 {
    font-size: (3.75rem / $font-sm-ratio);
}

h3 {
    font-size: (3rem / $font-sm-ratio);
}

h4 {
    font-size: (2.5rem / $font-sm-ratio);
}

h5 {
    font-size: (1.5rem / $font-sm-ratio);
}

h6 {
    font-size: (1.25rem / $font-sm-ratio);
}

p {
    font-size: 18px;
}

@include media-breakpoint-up(md) { 
    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 3.75rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.25rem;
    }
}