
.title {
    font-size: 96px;
    font-family: Advent Pro;
    font-weight: 500;
    color: transparent;
    text-transform: uppercase;
    text-align: center;
    line-height: 113.5%;
    letter-spacing: 0.07em;
    text-stroke: 4px #F090FF;
    -webkit-text-stroke: 4px #F090FF;
}

.headingDiscipline {
    font-family: Graphik;
    font-weight: 300;
    line-height: 113.5%;
    letter-spacing: 0.05em;
    text-shadow: 0px 10px 0px rgba(0, 0, 0, 0.15);

    @media (min-width: 576px) { 
        font-size: 4rem;
    }

    @media (min-width: 768px) { 
        font-size: 5rem;
    }

    @media (min-width: 992px) { 
        font-size: 144px;
    }
}

.headingTech {
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px;
    line-height: 113.5%;
    letter-spacing: 0.05em;
}

.roundedBottomBorders {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: -50px;
    padding-bottom: 50px;
    position: relative;
}