.name {
    font-family: Graphik;
    font-style: italic;
    text-align: center;
    
    @media (min-width: 576px) { 
        font-size: 4rem;
    }

    @media (min-width: 768px) { 
        font-size: 5rem;
    }

    @media (min-width: 992px) { 
        font-size: 96px;
    }
}