
@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: normal;
src: local('Graphik Regular'), url('/fonts/GraphikRegular.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: italic;
font-weight: normal;
src: local('Graphik Regular Italic'), url('/fonts/GraphikRegularItalic.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: 100;
src: local('Graphik Thin'), url('/fonts/GraphikThin.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: italic;
font-weight: 100;
src: local('Graphik Thin Italic'), url('/fonts/GraphikThinItalic.woff') format('woff');
}

@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: 200;
src: local('Graphik Light'), url('/fonts/GraphikLight.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: italic;
font-weight: 200;
src: local('Graphik Light Italic'), url('/fonts/GraphikLightItalic.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: 300;
src: local('Graphik Medium'), url('/fonts/GraphikMedium.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: italic;
font-weight: 300;
src: local('Graphik Medium Italic'), url('/fonts/GraphikMediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: 500;
src: local('Graphik Semibold'), url('/fonts/GraphikSemibold.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: italic;
font-weight: 500;
src: local('Graphik Semibold Italic'), url('/fonts/GraphikSemiboldItalic.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: 600;
src: local('Graphik Bold'), url('/fonts/GraphikBold.woff') format('woff');
}


@font-face {
font-family: 'Graphik Bold Italic';
font-style: italic;
font-weight: 600;
src: local('Graphik Bold Italic'), url('/fonts/GraphikBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: 700;
src: local('Graphik Black'), url('/fonts/GraphikBlack.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: italic;
font-weight: 700;
src: local('Graphik Black Italic'), url('/fonts/GraphikBlackItalic.woff') format('woff');
}


@font-face {
font-family: 'Graphik';
font-style: normal;
font-weight: 800;
src: local('Graphik Super'), url('/fonts/GraphikSuper.woff') format('woff');
}


@font-face {
font-family: 'Graphikc';
font-style: italic;
font-weight: 800;
src: local('Graphik Super Italic'), url('/fonts/GraphikSuperItalic.woff') format('woff');
}